@import 'helpers/_normalize';
@import 'helpers/_typeplate';

$sans: "nimbus-sans", "Helvetica Neue", Sans-Serif;
$serif: "abril-text", Serif;

$black: #111;


#nav{
	margin: 20px;
	font: 400 13px/20px $serif;
	letter-spacing: 1px;
}

@import "mixins/_helpers";
@import "ui/_nav";
@import "layout/_grid";
@import "page-specific/_project";