@import 'helpers/_normalize';
@import 'helpers/_typeplate';

$sans: "brandon-grotesque", "Helvetica Neue", Sans-Serif;
$serif: Georgia, Serif;

$black: #111;


#nav{
	font: 400 13px/20px $serif;
	letter-spacing: 1px;
}

@import "mixins/_helpers";
@import "helpers/_shapes";
@import "layout/_grid";
@import "ui/_nav";
@import "page-specific/_project";
