<script src="/assets/js/libs/require.js" data-main="/assets/js/app/main.js"></script>
<!-- 
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['b._setAccount', 'UA-1837333-7']);

			_gaq.push(['b._trackPageview','/commongoods.co.nz']);
		   
	(function() {
		 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
-->