<div id="nav">
	<a href="/" id="logo">
		<img src="/assets/images/MS-logo.svg" />
	</a>
	<ul>
		<li><a href="/object"><span class="key object"></span>object</a></li>
		<li><a href="/space"><span class="key space"></span>space</a></li>
		<li><a href="/stories"><span class="key stories"></span>stories</a></li>
		<li><a href="/identity"><span class="key identity"></span>identity</a></li>
			<li><a href="/film"><span class="key film"></span>film</a></li>
		<li><a href="/about"><span class="key about"></span>about</a></li>
	</ul>

</div>
