<div id="nav">
	<a href="/" id="logo">
		<img src="/assets/images/MS3.png" />
	</a>
	<ul>
		<li><a href="/space"><span class="key space"></span>space</a></li>
		<li><a href="/object"><span class="key object"></span>object</a></li>
		<li><a href="/innovation"><span class="key innovation"></span>innovation</a></li>
	
		<br>
		<br>
		<br>
		<li><a href="https://www.instagram.com/mattsmithco/" target="_blank"><span class="key space"></span>instagram</a></li>
		<br>
		<br>
		
hello@matt-smith.co
<br>
+64 21 431 900

		

		</ul>


</div>
