<div id="nav">
	<a href="/" id="logo">
		<img src="/assets/images/common-logo.svg" />
	</a>
	<ul>
		<li><a href="/publishing"><span class="key publishing"></span>publishing</a></li>
		<li><a href="/people"><span class="key people"></span>people</a></li>
		<li><a href="/services"><span class="key services"></span>services</a></li>
		<li><a href="/travel"><span class="key travel"></span>travel</a></li>
		<li><a href="/needs"><span class="key needs"></span>needs</a></li>
		<!-- <li><a href="/store"><span class="key store"></span>store</a></li> -->
		<li><a href="/projects"><span class="key projects"></span>projects</a></li>
	</ul>
	<div id="bookface">
		<div class="fb-like" data-href="https://www.facebook.com/Common.Goods.Services" data-send="false" data-layout="box_count" data-width="200" data-show-faces="false" data-colorscheme="dark"></div>
	</div>
</div>