#nav{
	position: fixed;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 40%;
	z-index: 100;
	text-align: center;
	background-color: $black;
	@include breakpoint(mobile){
		position: relative;
		left: auto;
		top: auto;
		bottom: auto;
		width: 100%;
	}
	@include breakpoint(tablet){
		position: relative;
		left: auto;
		top: auto;
		bottom: auto;
		width: 100%;
	}
	#logo{
		display: block;
		max-width: 500px;
		@include center-block;
		padding: 60px;
		@include box-sizing(border-box);
		img{
			width: 100%;
		}
		@include breakpoint(tablet){
			padding-bottom: 20px;
		}
		@include breakpoint(mobile){
			padding-bottom: 20px;
		}
	}
	ul{
		font: 700 30px/31px $sans;
		text-transform: uppercase;
		margin: 0px;
		padding: 0px;
		margin-top: 0px;
		@include breakpoint(mobile){
			padding-bottom: 20px;
		}
		li{
			list-style-type: none;
			padding-bottom: 20px;
			a{
				position: relative;
				left: -10px;
				text-decoration: none;
				color: #FFF;
				.key{
					@include inline-block;
					width: 20px;
					height: 20px;
					@include border-radius(10px);
					margin-right: 10px;
					position: relative;
					top: 3px;
				}
				&:hover{
					text-decoration: underline;
				}
			}
			&.contact{
				margin-top: -20px;
				a{
					text-transform: none;
					font: 400 14px/20px Sans-Serif;
					letter-spacing: 0px;
					left: 0px;
					color: #AAA;
				}
			}
		}
	}
	#bookface{
		position: absolute;
		bottom: 20px;
		left: 20px;
		right: 20px;
		@include breakpoint(tablet){
			right: auto;
		}
		@include breakpoint(mobile){
			display: none;
		}
	}
}
