#nav{
	position: fixed;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 20%;
	z-index: 100;
	text-align: center;
	background-color: $black;
	@include breakpoint(mobile){
		position: relative;
		left: auto;
		top: auto;
		bottom: auto;
		width: 100%;
	}
	@include breakpoint(tablet){
		position: relative;
		left: auto;
		top: auto;
		bottom: auto;
		width: 100%;
	}
	#logo{
		display: block;
		max-width: 400px;
		@include center-block;
		padding: 60px 30px;
		@include box-sizing(border-box);
		img{
			width: 100%;
		}
		@include breakpoint(tablet){
			padding-bottom: 20px;
		}
		@include breakpoint(mobile){
			padding-bottom: 20px;
		}
	}
	ul{
		font: 500 16px/21px 'Helvetica Neue', Sans-Serif;
		text-transform: uppercase;
		letter-spacing: 5px;
		margin: 0px;
		padding: 0px;
		margin-top: 0px;
		@include breakpoint(mobile){
			padding-bottom: 20px;
		}
		li{
			list-style-type: none;
			padding-bottom: 20px;
			a{
				text-decoration: none;
				color: #FFF;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}