.object{
	background-color: #cb982b;
}
.space{
	background-color: #cb982b;
}
.stories{
	background-color: #cb982b;
}
.identity{
	background-color: #cb982b;
}
.film{
	background-color: #cb982b;
}
.about{
	background-color: #cb982b;
}
