.object{
	background-color: #2b2b2b;
}
.space{
	background-color: #2b2b2b;
}
.stories{
	background-color: #2b2b2b;
}
.identity{
	background-color: #2b2b2b;
}
.film{
	background-color: #2b2b2b;
}
.about{
	background-color: #2b2b2b;
}
