.travel{
	background-color: #d0b4a6;
}
.goods{
	background-color: #921400;
}
.services{
	background-color: #921400;
}
.people{
	background-color: #99001b;
}
.needs{
	background-color: #009985;
}
.projects{
	background-color: #006e3b;
}
.publishing{
	background-color: #420b17;
}
.b-sides{
	background-color: #003029;
}
