#project{
	position: absolute;
	left: 20%;
	top: 0px;
	right: 0px;
	@include breakpoint(mobile){
		position: relative;
		left: auto;
		top: auto;
		right: auto;
	}
	@include breakpoint(tablet){
		position: relative;
		left: auto;
		top: auto;
		right: auto;
	}
	font-family: $serif;
	p,
	h1,
	.image{
		float: left;
		padding: 0px 1px 1px 0px;
		width: 25%;
		@include box-sizing(border-box);
	}
	img{
		max-width: 100%;
		display: block;
	}
	p{
		font: 400 18px/24px $serif;
		padding: 20px;
	}
	p + p{
		text-indent: 0px;
	}
	h1{
		font: 900 40px/40px $sans;
		font-style: italic;
		transform:rotate(-5deg);
		-ms-transform:rotate(-5deg); /* IE 9 */
		-webkit-transform:rotate(-5deg); /* Safari and Chrome */
		letter-spacing: -1px;
	}
	.image{
		float: left;
		img{
			width: 100%;
		}
		&.col_2{
			width: 50%;
		}
		&.col_3{
			width: 75%;
		}
		&.col_4{
			width: 100%;
		}
	}
}