@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == tablet {
    @media (min-width: 768px) and (max-width: 1023px) { @content; }
  }
  @else if $point == mobile {
    @media (min-width: 0px) and (max-width: 767px)  { @content; }
  }
}

.clearfix{
	clear: both;
}

#grid{
	position: absolute;
	left: 20%;
	top: 0px;
	right: 0px;
	.column{
		width: 50%;
		float: left;
		@include breakpoint(tablet){
			width: 100%;
		}
	}
	.post{
		width: 100%;
		overflow: visible;
		position: relative;
		display: block;
		text-decoration: none;
		color: $black;
		.border{
			position: absolute;
			left: 0px;
			right: 0px;
			bottom: -2px;
			height: 4px;
			background-color: rgba(0, 0, 0, .1);
			z-index: 100;
			display: none;
		}
		.image{
			position: relative;
			z-index: 2;
			img{
				display: block;
				width: 100%;
				@include box-sizing(border-box);
			}
		}
		h2{
			font: 700 30px/30px $sans;
			text-transform: uppercase;
			letter-spacing: -1px;
			color: $black;
			text-align: center;
			padding: 20px;
			@include box-sizing(border-box);
		}
		.intro{
			p{
				@include box-sizing(border-box);
				text-align: center;
				padding: 20px 40px;
				font: 500 16px/21px 'Helvetica Neue', Sans-Serif;
			}
		}
		&.landscape{
			padding-bottom: 20px;
			img{
				width: 100%;
			}
			.intro{
				h2{
					width: 50%;
					float: left;
					padding: 20px;
					@include box-sizing(border-box);
				}
				p{
					float: left;
					width: 50%;
				}
			}
		}
		&.portrait{
			.image{
				width: 50%;
			}
			.intro{
				position: absolute;
				right: 0px;
				top: 0px;
				bottom: 0px;
				width: 50%;
				padding-bottom: 120px;
				.left &{
					left: 0px;
					right: auto;
				}
				h2{
					margin-top: 40px;
				}
				p{
					padding: 0px 40px 20px 40px;
					position: absolute;
					bottom: 40px;
					left: 0px;
					right: 0px;
				}
			}
		}
		&:hover{
			.image{
				@include opacity(0);
			}
			p{
				@include opacity(0);
			}
		}
	}
	.left{
		.post.portrait{
			.image{
				margin-left: 50%;
			}
			.intro{
				right: auto;
				left: 0px;
			}
		}
	}
	.filler{
		.cell{
			width: 50%;
			@include box-sizing(border-box);
			float: left;
			.instagram{
				position: relative;
				display: block;
				img{
					width: 100%;
					display: block;
					@include box-sizing(border-box);
					padding: 0px;
				}
				p{
					display: none;
					position: absolute;
					left: 40px;
					top: 40px;
					margin: 0px;
					right: 40px;
					font: 400 14px/20px 'Helvetica Neue', Sans-Serif;
				}
				&:hover{
					img{
						@include opacity(0);
					}
					p{
						display: block;
					}
				}
			}
		}
	}
}