@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == tablet {
    @media (min-width: 768px) and (max-width: 1023px) { @content; }
  }
  @else if $point == mobile {
    @media (min-width: 0px) and (max-width: 767px)  { @content; }
  }
}

#grid{
	margin: 20px;
	text-align: center;
	.post{
// 		float: left;
		display: inline-block;
		width: auto;
		margin-right: 20px;
		margin-bottom: 20px;
		position: relative;
		background-color: #F8F8F8;
		text-decoration: none;
		&.landscape{
			width: 620px;
			height: 620px;
		}
		&.portrait{
			width: 460px;
			height: 460px;

		}
		> .image{
			$margin: 60px;
			position: absolute;
			left: $margin;
			top: $margin;
			bottom: $margin;
			right: $margin;
			text-align: center;
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
			img{
				display: none;
			}
		}
		h2{
			font: 600 14px/14px $sans;
			color: $black;
			margin-bottom: 0px;
			position: absolute;
			left: 20px;
			top: 20px;
			a{
				text-decoration: none;
				color: $black;
			}
		}
		.intro{
			font: 400 14px/18px $sans;
			color: $black;
			position: absolute;
			left: 20px;
			bottom: 16px;
			margin: 0px;
			@include opacity(.5);
		}
		.type{
			position: absolute;
			padding: 0px 6px;
			height: 40px;
			right: -20px;
			top: -20px;
			color: #FF3300;
			font: 400 30px/30px $sans;
			background-color: #FFF;
		}
		@include breakpoint(tablet){
			width: 320px !important;
			height: 320px !important;
		}
		@include breakpoint(mobile){
			width: auto !important;
			height: auto !important;
			float: none;
			background-color: transparent;
			margin-bottom: 80px;
			margin-right: 0px;
			h2,
			.intro{
				position: relative;
				left: auto;
				top: auto;
				bottom: auto;
				margin-top: 10px;
			}
			.image{
				background-image: none !important;
				position: relative;
				left: 0px;
				top: 0px;
				right: 0px;
				bottom: 0px;
				img{
					display: block;
					max-width: 100%;
				}
			}
		}
	}
}