<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Matt Smith</title>
        <meta name="description" content="">
        {% include head.html %}
    </head>
    <body id="index" class="js-extend-view" data-view="index">
        {% include nav.html %}
        <div id="grid" class="posts">
            <div class="left column">
                {% for post in site.posts %}
                    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
                    {% if thecycle == 'odd' %}
                        {% include post-thumb.html %}
                        {% include filler-thumb.html %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="column">
                {% for post in site.posts %}
                    {% capture thecycle %}{% cycle 'even', 'odd' %}{% endcapture %}
                    {% if thecycle == 'odd' %}
                        {% include filler-thumb.html %}
                        {% include post-thumb.html %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% include js.html %}
    </body>
</html>
