@charset "UTF-8";


.icon-left:before { content: '\2190'; } /* '←' */
.icon-right:before { content: '\2192'; } /* '→' */
.icon-camera-1:before { content: '\e00b'; } /* '' */
.icon-tag:before { content: '\e00c'; } /* '' */
.icon-doc:before { content: '\e018'; } /* '' */
.icon-photo:before { content: '\e01b'; } /* '' */
.icon-note:before { content: '\e01c'; } /* '' */
.icon-attach:before { content: '\e029'; } /* '' */
.icon-calendar:before { content: '\e02b'; } /* '' */
.icon-camera-alt:before { content: '\e70f'; } /* '' */
.icon-basket:before { content: '\e73d'; } /* '' */
.icon-basket-1:before { content: '\e802'; } /* '' */
.icon-arrows-cw:before { content: '\e760'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-doc-alt:before { content: '\f0f6'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */
.icon-picture:before { content: '🌄'; } /* '\1f304' */
.icon-video:before { content: '🎬'; } /* '\1f3ac' */
.icon-newspaper:before { content: '📰'; } /* '\1f4f0' */
.icon-camera:before { content: '📷'; } /* '\1f4f7' */